<html>
	<head>
		<title>Conectado ao Twitter</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"></link>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="#">Twitter Service <span class="label label-danger">1.0</span></a>
                <div class="navbar-header pull-right">
                    <div class="navbar-form navbar-left">
                        <a href="/" class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-link"></span>
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h1>Pessoas conectadas</h1>
            </div>
            <ul th:each="connection  : ${connections}" class="list-group">
                <li class="list-group-item"><img th:src="${connection.imageUrl}"></img> <span th:text="${connection.displayName}"></span></li>
            </ul>
        </div>
	</body>
</html>
